services:
  backend:
    build: ./backend
    container_name: yt-backend
    restart: always
    env_file: ./backend/.env
    ports:
      - "8001:8001"
    depends_on:
      - redis
    networks:
      - ytengine
    command: npm run dev

  redis:
    image: redis:7
    container_name: yt-redis
    restart: always
    ports:
      - "6380:6379"
    networks:
      - ytengine

  worker-transcode:
    build: ./backend
    container_name: worker-transcode
    restart: always
    env_file: ./backend/.env
    depends_on:
      - redis
    networks:
      - ytengine
    command: node src/jobs/Worker/videoProcessor.worker.js

  worker-hls:
    build: ./backend
    container_name: worker-hls
    restart: always
    env_file: ./backend/.env
    depends_on:
      - redis
    networks:
      - ytengine
    command: node src/jobs/Worker/VideoProcessingPhase2/videoProcessor.worker.js

  ws:
    build: ./backend
    container_name: yt-ws
    restart: always
    env_file: ./backend/.env
    ports:
      - "4000:8080"
    depends_on:
      - redis
    networks:
      - ytengine
    command: node src/sockets/ws.js

networks:
  ytengine:
